

@using SharpVision.UMS.UMSBusiness;
@using SharpVision.HR.HRBusiness;
@using System.Collections;
@using Syncfusion.EJ2;
@{

    var dir = "rtl";
    var twoLetter = "ar";
}



<!DOCTYPE html>
@*<html lang="en" dir="rtl">*@

<html lang="@twoLetter" dir="@dir">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        //string strTitle = @ViewData["Title"].ToString();
        string strTitle = "ALGORITHMAT";
        //if(SharpVision.SystemBase.SysData.SysName!= "")

    }
    <title>@strTitle</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/wwwroot/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">


    @{

        if (dir != "rtl")
        {
            <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/layout.min.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/components.min.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/colors.min.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/custom.css" rel="stylesheet" type="text/css">
        }
        else
        {
            <link href="~/wwwroot/css/bootstrap.min.ar.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/bootstrap_limitless.min.ar.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/layout.min.ar.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/components.min.ar.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/colors.min.ar.css" rel="stylesheet" type="text/css">
            <link href="~/wwwroot/css/custom.ar.css" rel="stylesheet" type="text/css">
        }
    }


<script src="~/Scripts/UNI/Faculty.js"></script>
    <link href="~/Content/ej2/fluent.css" rel="stylesheet" />
    <script src="~/Content/ej2.min.js"></script>



</head>

<body class="navbar-top">




    <script src="~/Scripts/HandSHakeControlScript.js"></script>

    <script>

                //setTimeout(OnHandShake, 1000);

    </script>
    @{
        #region
        int intSystem = 6;
        string strSys = System.Configuration.ConfigurationManager.AppSettings["SysID"];
        if (strSys != null)
        {
            int.TryParse(strSys, out intSystem);
        }
        if (Session["CurrentUser"] == null)
        { Response.Redirect(@"~/Login/Index"); }
        UserBiz objUserBiz = (UserBiz)Session["CurrentUser"];
        //UserBiz.CurrentUser = objUserBiz;
        SystemBiz objSystemBiz = new SystemBiz() { ID = intSystem };
        MenuNodeCol _NodeCol = objSystemBiz.NodeCol.AuthorisedMainNodeCol;

        MenuNodeCol objNodeCol = new MenuNodeCol();
        object objController = new object();
        object objMethod = new object();
        ViewContext.RouteData.Values.TryGetValue("controller", out objController);
        ViewContext.RouteData.Values.TryGetValue("action", out objMethod);
          
            string strAction = objController.ToString() + "/" + objMethod.ToString();
        
        if (objController.ToString() != "Home" && !_NodeCol.CheckNodeName(strAction))
        {

            Response.Redirect(@"~/Login/Index");


        }
        string FillNode()
        {
            string Returned = "";
            foreach (MenuNodeBiz objNode in _NodeCol.Cast<MenuNodeBiz>().OrderBy(x => x.Order))
            {
                if (!objNode.IsNotDisplayed && !objNode.IsStopped)
                    Returned += FillNodeCol(objNode.Name, objNode.Children);

            }


            return Returned;
        }
        string FillNodeCol(string strText, MenuNodeCol objCol)
        {
            string Returned = "";
            if (strText == "" && (objCol == null || objCol.Count == 0))
                return "";
            string strClass = objCol != null && objCol.Count > 0 ? "nav-item nav-item-submenu" : "nav-item";
            Returned += @"<li class=""" + strClass + @""">";

            if (strText != "")
            {
                Returned += @"<a href = ""#"" class=""nav-link"">";
                if (objCol != null && objCol.Count > 0)
                    Returned += @"<i class=""icon-copy""></i>";
                Returned += " <span>" + strText + @"</span></a>";

            }

            string strUrl = "";
            if (objCol != null && objCol.Count > 0)
            { Returned += @"<ul class=""nav nav-group-sub"" data-submenu-title=""Layouts"" >"; }
            foreach (MenuNodeBiz objNodeBiz in objCol.Cast<MenuNodeBiz>().OrderBy(x => x.Order))
            {
                if (objNodeBiz.IsNotDisplayed)
                    continue;
                if (objNodeBiz.Children.Count == 0)
                {
                    Returned += @"<li  class=""nav-item"">";
                    strUrl = /*Request.Url.Scheme + "://" + Request.Url.Authority +*/ Url.Content("~/" + objNodeBiz.AppliedURL);
                    if (objNodeBiz.AppliedURL != "")
                    {
                        Returned += @"<a href=""" + strUrl + @""" class=""nav-link"">";
                    }
                    Returned += "<span>" + objNodeBiz.Name + "</span>";
                    // Returned += @"<i class=""icon-copy""></i> <span>" + objNodeBiz.Name + @"</span>";
                    if (objNodeBiz.AppliedURL != "")
                    {
                        Returned += "</a>";
                    }
                    Returned += "</li>";
                }
                else
                    Returned += FillNodeCol(objNodeBiz.Name, objNodeBiz.Children);


            }
            if (objCol != null && objCol.Count > 0)
            { Returned += "</ul>"; }
            Returned += "</li>";
            return Returned;
        }
        #endregion
        //if (Session["CurrentUser"]== null)
        {
            //  Response.Redirect(@"~/Login/Index");
        }
        string strSender = "";
        string strAppID = "";
        if (UserBiz.CurrentUser.EmployeeBiz.ID != 0)
        {
            strAppID = UserBiz.CurrentUser.EmployeeBiz.ID.ToString() + "|" + UserBiz.CurrentUser.EmployeeBiz.Code;
            //var objSender = new () { SenderID = UserBiz.CurrentUser.EmployeeBiz.ID, SenderName = UserBiz.CurrentUser.EmployeeBiz.Name };
            //strSender = Json.Encode(objSender);
        }

        ApplicantWorkerCol _ApplicantWorkerCol = new ApplicantWorkerCol(true);

        UserSimple objUserSimple = UserBiz.CurrentUser.UserSimple;
        objUserSimple.Branch = SharpVision.SystemBase.SysData.CurrentBranch.ID;
        string strUser = Json.Encode(objUserSimple);

        if (SharpVision.SystemBase.SysData.SysID == 8)
        {
            if (Session["ApplicantCol"] == null)
            {
                _ApplicantWorkerCol = new ApplicantWorkerCol(new SectorBiz(), 1, 0);



                Hashtable hsTemp = EmployeeSectorAssignmentCol.AssignedSectorTable;
                //EmployeeSectorAssignmentCol.AssignedSectorTable;
                List<ApplicantWorkerBiz> objApplicantTempCol = (from objApplicant in _ApplicantWorkerCol.Cast<ApplicantWorkerBiz>()
                                                                where hsTemp[objApplicant.CurrentSubSectorBiz.SubSectorBiz.SectorBiz.ID.ToString()] != null
                                                                select objApplicant).ToList();

                _ApplicantWorkerCol.Clear();
                _ApplicantWorkerCol = new ApplicantWorkerCol(true);
                ApplicantWorkerBiz objBiz;
                for (int intIndex = 0; intIndex < objApplicantTempCol.Count; intIndex++)
                {
                    objBiz = objApplicantTempCol[intIndex];
                    _ApplicantWorkerCol.Add(objBiz);
                }
                Session["ApplicantCol"] = _ApplicantWorkerCol;

            }
            else
            {
                _ApplicantWorkerCol = (ApplicantWorkerCol)Session["ApplicantCol"];
            }
        }
        int intShowOnlineUserAuthorized = ApplicantHandShakeBiz.UMSOnlineHandShakedShowAuthorized ? 1 : 0;
        string strApplicantIDs = "";
        if (_ApplicantWorkerCol.Count > 0)
        {
            strApplicantIDs = _ApplicantWorkerCol.IDs;
        }
        string strFaculty = "";
        if (Session["CurrentFaculty"] != null)
        {
            strFaculty = Session["CurrentFaculty"].ToString();
        }
    }
    <input type="hidden" id="lblCurrentSimpleUser" value="@strUser" />
    <input type="hidden" id="lblCurrentFaculty" value="@strFaculty" />
    <!-- Main navbar -->
    <input type="hidden" id="lblApplicantIDs" name="lblApplicantIDs" value="@strApplicantIDs" />
    <input type="hidden" id="lblTrackAuthorized" value="@intShowOnlineUserAuthorized" />
    <div class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="navbar-brand">

            <a href="http://www.algorithmat.com" target="_blank"><img src="~/wwwroot/images/logo_light.png" alt=""></a>

        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            <span class="mr-md-auto"></span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0" id="lblOnlineCount" name="lblOnlineCount"></span>
                        <span class="d-md-none ml-2">Users</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">الموظفين</span>
                            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>

                        </div>
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list" id="ulOnlineUser" name="ulOnlineUser">
                            </ul>
                        </div>
                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All users</a>
                            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="d-md-none ml-2">Messages</span>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0" id="lblMessageCount"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Messages</span>
                            <a href="#" class="text-default"><i class="icon-compose"></i></a>
                        </div>



                        <div class="dropdown-content-footer justify-content-center p-0">
                            <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
                        </div>
                    </div>
                </li>




                <li class="nav-item justify-content-between">

                </li>




                <li class="nav-item">

                    <a href="~/LogIn/logOut" class="navbar-nav-link">
                        <i class="icon-switch2"></i>
                        <span class="d-md-none ml-2">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <input type="hidden" id="lblSender" name="lblSender" value="@strSender" />
        <input type="hidden" id="lblAppID" name="lblAppID" value="@strAppID" />
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->

                <div class="sidebar-user bg-teal-800">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#user-nav" data-toggle="collapse"><img src="~/wwwroot/images/image.png" width="38" height="38" class="rounded-circle" alt=""></a>
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold">
                                    <a href="#user-nav" data-toggle="collapse">
                                        @{ string strName = objUserBiz == null ? "" : objUserBiz.EmployeeBiz.Name;
                                            if (objUserBiz == null)
                                            {
                                                objUserBiz = new UserBiz();
                                            }
                                        }
                                        <input type="hidden" id="lblCurrentUser" name="lblCurrentUser" value="@objUserBiz.ID.ToString()" />
                                        <span class="text-white">@strName</span>
                                    </a>
                                </div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-user font-size-sm"></i> &nbsp;
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                <a href="#user-nav" class="text-white" data-toggle="collapse"></a>
                            </div>
                        </div>

                    </div>
                    <div class="collapse" id="user-nav">
                        <ul class="nav nav-sidebar">
                            <li class="nav-item">
                                <a href="#" class="nav-link">

                                    <i class="icon-user-plus"></i>
                                    <span>Myprofile</span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <i class="icon-comment-discussion"></i>
                                <span>Messages</span>
                                <span class="badge bg-teal-400 badge-pill align-self-center ml-auto">58</span>

                            </li>
                            <li class="nav-item">
                                <a href="/Login/ChangePasswordIndex" class="nav-link">
                                    <i class="icon-key"></i>
                                    <span>ChangePassword</span>
                                </a>
                            </li>
                            <li class="nav-item  nav-item-submenu">
                                <a href="#" class="nav-link">
                                    <i class="icon-gear"></i><span>ChangeSystem</span>
                                </a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    @{

                                    }
                                </ul>

                            </li>
                            <li class="nav-item">

                                <a href="~/LogIn/logOut" class="nav-link">
                                    <i class="icon-switch2"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <!-- /main -->
                        @(new HtmlString(FillNode()))



                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">


                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline  bg-teal-800">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            <a href="#" class="breadcrumb-item">Link</a>
                            <span class="breadcrumb-item">Current</span>
                        </div>


                    </div>

                </div>
            </div>
            <!-- /page header -->
            <!-- Content area -->
            <div class="content" style="min-height:500px;scroll-behavior:auto;">
                @RenderBody()

            </div>

            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; @DateTime.Now.Year.ToString(). <a href="http://www.algorithmat.com" target="_blank">ALGORITHMAT</a>
                    </span>

                    <ul class="navbar-nav ml-lg-auto">


                        <li class="nav-item">
                            <a href="#" class="navbar-nav-link font-weight-semibold">
                                <span class="text-pink-400">
                                    <i class="icon-lifebuoy mr-2"></i>
                                    ALGORITHMAT
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- /global stylesheets -->
    <!-- Core JS files -->


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/wwwroot/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/wwwroot/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/wwwroot/js/plugins/notifications/pnotify.min.js"></script>
    <script src="~/wwwroot/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="~/wwwroot/js/plugins/notifications/bootbox.min.js"></script>
    <script src="~/wwwroot/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/wwwroot/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/wwwroot/js/plugins/forms/styling/switch.min.js"></script>


    <script src="~/wwwroot/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/anytime.min.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/wwwroot/js/plugins/pickers/pickadate/legacy.js"></script>


    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/wwwroot/js/app.js"></script>
    <script src="~/wwwroot/js/custom.js"></script>
    <!-- /theme JS files -->
    <script src="~/wwwroot/js/demo_pages/form_multiselect.js"></script>
    <script src="~/wwwroot/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/wwwroot/js/demo_pages/picker_date.js"></script>

    <script src="~/wwwroot/js/demo_pages/components_modals.js"></script>
    <script src="~/wwwroot/js/demo_pages/form_inputs.js"></script>
    @Html.EJS().ScriptManager()
</body>
</html>

