
@using SharpVision.CRM.CRMBusiness
@using SharpVision.SystemBase
@using SharpVision.UMS.UMSBusiness
@using System.Web.Script.Serialization
@using SharpVision.Base.BaseBusiness;
@using System.Linq;

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SubUnit</title>
    </head>
    <body>
        @{ 
            if (Session["UnitIDs"] != null)
            {
                ViewBag.UnitIDs = Session["UnitIDs"].ToString();
            }
        }
        <script src="/Scripts/JqueryLatest.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script>


            function OnCheckAllChanged1(strCheckAllName, strCheckPrefix, strIDsName) {
                var objCheckAll = document.getElementById(strCheckAllName);
                var strCheckName;
                var objIDCol = [];
                var strIDs = document.getElementById(strIDsName).value;
                if (strIDs != null && strIDs != "") {
                    objIDCol = JSON.parse(strIDs);
                }
                var blChecked = document.getElementById(strCheckAllName).checked;
                for (var intIndex = 0; intIndex < objIDCol.length; intIndex++) {
                    strCheckName = strCheckPrefix + objIDCol[intIndex];
                    document.getElementById(strCheckName).checked = blChecked;

                }


            }



        </script>
        <div>
            @{string strCheck = ""; }
            @using (Html.BeginForm("SubUnit", "unit", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td id="tdSearchResult">
                            <div dir="rtl" style="overflow: scroll;max-height:500px ; width: 100%;">

                                @if (Session["UnitCol"] != null)
                                {

                                    <script src="~/Scripts/ControlScript.js"></script>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="chkSelectAllUnit" onchange="ChkChanged('chkSelectAllUnit', 'chkUnit', 'UnitCheckCol')" />
                                            </td>
                                            @if (Session["UMSCloseOpenAuthorised"].ToString() == "1")
                                            {
                                                <td>
                                                    <input type="submit" formaction="~/Unit/UnitClose" value="Close" />
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                    <table>
                                        <thead>
                                            <tr>
                                                @if (Session["SelectEnabled"].ToString() == "1")
                                                {
                                                    <th></th>
                                                }
                                                <th align="center">&#1575;&#1604;&#1603;&#1608;&#1583;</th>
                                                <th align="center">&#1575;&#1604;&#1606;&#1608;&#1593;</th>
                                                <th align="center">&#1575;&#1604;&#1605;&#1588;&#1585;&#1608;&#1593;</th>
                                                <th align="center">&#1575;&#1604;&#1576;&#1585;&#1580;</th>
                                                <th align="center">&#1575;&#1604;&#1583;&#1608;&#1585;</th>
                                                <th align="center">&#1575;&#1604;&#1581;&#1575;&#1604;&#1577;</th>
                                                <th align="center">&#1575;&#1604;&#1605;&#1587;&#1575;&#1581;&#1577;</th>
                                                <th align="center">&#1575;&#1604;&#1593;&#1605;&#1610;&#1604;</th>
                                                <th align="center">&#1575;&#1604;&#1605;&#1604;&#1581;&#1602;&#1575;&#1578;</th>
                                                <th align="center">&#1605;&#1604;&#1575;&#1581;&#1592;&#1575;&#1578;</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (UnitBiz objBiz in (UnitCol)Session["UnitCol"])
                                            {
                                                <tr>
                                                    @if (Session["SelectEnabled"] != null && Session["SelectEnabled"].ToString() == "1")
                                                    {
                                                        strCheck = "chkUnit" + objBiz.ID;
                                                        <td><input type="checkbox" name="@strCheck" id="@strCheck" /></td>
                                                    }
                                                    <td align="center">@objBiz.FullName</td>
                                                    <td>@objBiz.UsageTypeBiz.Name</td>
                                                    <td>@objBiz.TowerBiz.ProjectBiz.Name</td>
                                                    <td>@objBiz.TowerBiz.Name</td>
                                                    <td>@objBiz.FloorBiz.Name</td>
                                                    <td>@objBiz.StatusStr</td>
                                                    <td>@objBiz.Survey</td>
                                                    <td>@objBiz.CustomerStr</td>
                                                    <td>@objBiz.PeripheralFullName</td>
                                                    <td>@objBiz.Desc</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <input type="hidden" id="UnitCheckCol" name="UnitCheckCol" value="@ViewBag.UnitIDs" />


                                }
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </body>
</html>
